<!-- <nav>
  <a routerLink="/showStudent">Show Students</a> |
  <a routerLink="/addStudent">Add Student</a>
</nav> -->

<!-- <a routerLink="addStudent">Create New Record</a>
<table border="'1">
  <tr>
    <th>RollNo</th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Date</th>
    <th>Gender</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let student of studentData">
    <td>{{student.rollNo}}</td>
    <td>{{student.name}}</td>
    <td>{{student.age}}</td>
    <td>{{student.email}}</td>
    <td>{{student.date}}</td>
    <td>{{student.isMale?"Male":"Female"}}</td>
    <td><button (click)="deleteStudent(student.id)">Delete</button></td>
  </tr>
</table> -->
<!-- <router-outlet></router-outlet> -->
<!-- <h1>Welcome to Student API</h1>
src/app/app.component.html -->
<!-- <div class="container">
  <h1>Student Management System</h1>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/add-student">Add Student</a>
  </nav>
  <router-outlet></router-outlet>  Display routed views here -->
<!-- </div>  -->
<div class="container">
  <app-add-student></app-add-student>
  <app-show-student></app-show-student>
</div>



